<div>
  <h1 class="text-3xl mb-3 font-bold text-slate-500">EcipeEdge v2</h1>
  <p class="text-2xl ">Welcome to the recipe suggestion App</p>
  <%= link_to recipes_path do %>
    <button class="py-4 px-3 bg-blue-700 text-white mt-4 font-semibold rounded-md uppercase hover:bg-blue-600">Get Started</button>
  <% end %>
</div>
